body{
    background-color: rgb(184, 250, 244);
    font-family: 'Roboto', sans-serif;

    
    padding: 0;
    margin:0;
}

.header{
    background-color: rgb(0, 0, 3);
    color: rgb(146, 226, 236);
    height: 18em;
    display:flex;
    align-items: center;
    justify-content: center;
}

.header .first{
    margin-right: 1em;
}

.header .second{
    font-size: 3em;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(12, 4, 54);
    height:3em;
    color: white
}

.navBar a{
   color: white;
   text-decoration: none;
   font-size: 1em;
}

.navBar a:hover{
    background-color: white;
    color: rgb(3, 3, 44);
}

.services{
    padding: 3em;
    background-color: rgb(189, 227, 245);
    color: rgb(10, 10, 10);
}

.servicesTitle{
    color: black;
    font-weight: bold;
    font-size: 1.8em;
}
.pictures{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pictures img{
    width:12em;
    height:12em;
    border-radius: 50%;
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 3em;
}
.content{
    padding-top:5em;
    padding-bottom:3em;
    padding-left:7em;
    padding-right:7em;
    font-size: 1.5em;
    text-align: justify;
}

.endorsement{
    background-color: rgb(184, 250, 244);
    cursor: pointer;
    padding: 1.7em;
    width: 100%;
    text-align: left;
    transition: 0.5s;
    height:3em;
    font-size: 1em;
    border:none;
    border-bottom: rgb(197, 197, 197) 1px solid;
}


.active, .endorsement:hover{
    background-color: rgb(123, 253, 242);
}

.endorsement:after {
    content: '\02795'; 
    outline:none;
    font-size: 1em;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }

.panel{
    font-style: italic ;
    padding: 0 2em;
    display:none;
    overflow:hidden;
}

.footer{
    color: white;
    background-color: black;
    font-size: 1em;
    padding: 1.5em;
    line-height: 1.15;
}