.team-container {
  display: flex;
  justify-content: space-between;
}

.memberInfo {
  height: 300px;
  width: 300px;
  border-radius: 300px;
}

.teamMember {
  padding: 10px;
  margin: 10px;
}

#filter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  width: 500px;
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
  .team-container {
    display: flex;
    flex-direction: column;
  }

  .memberInfo {
    height: 300px;
    width: 300px;
  }
  .teamMember {
    padding: 20px;
    margin: 20px;
  }
}
